.root{
    background: rgba(0, 0, 0, 0.557);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modalBox {
    background: white;
    padding: 2em;
    -webkit-box-shadow: 10px 10px 23px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 23px 2px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 23px 2px rgba(0,0,0,0.37);    
}

